doctype html
html
  head
    title Watchout
    meta(name='viewport', content='initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300|Advent+Pro:100,300', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    link(rel='stylesheet', href='/assets/css/placeOrder.css', type='text/css')
  body
    each recipe in recipes
      .wrapper
        a(href='https://mi5.itq.de/placeOrder/' + recipe.recipeId + '/[100,50,20,10,1]/eu')
          .one-third
            img(src='https://raw.githubusercontent.com/ProjectMi5/HMI/master/public/assets/images/recipes/recipe' + recipe.recipeId + '/cocktail.jpg')
          .two-third
            .headline
              h1!= recipe.name +' - '+ recipe.recipeId
            .content
              ul.ingredients
                each parameter in recipe.userparameters
                  li!= parameter.Name
              .descrpt!= recipe.description