doctype html
html
  head
    title Watchout
    meta(name='viewport', content='initial-scale=1.0')
    link(href='https://fonts.googleapis.com/css?family=Lato:100,300|Advent+Pro:100,300', rel='stylesheet', type='text/css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    link(rel='stylesheet', href='/assets/css/placeOrder.css', type='text/css')
  body
    .alignright
      form(role='form')
        //.form-group
          label(for='selMarketPlace') marketPlaceId:
          select#selMarketPlace.form-control
            option itq
            option centigrade
            option beckhoff
          br
          label(for='customerName') your name:
          input#customerName.form-control(type='text')
    .section
      each recipe in recipes
        .wrapper
          a(href=address+'/placeOrder/' + recipe.recipeId + '/[' + recipe.defaultParameters + ']/itq')
            .one-third
              img(src='https://raw.githubusercontent.com/ProjectMi5/HMI/master/public/assets/images/recipes/recipe' + recipe.recipeId + '/cocktail.jpg')
            .two-third
              .headline
                h1!= recipe.name +' - '+ recipe.recipeId
              .content
                ul.ingredients
                  each parameter in recipe.userparameters
                    li!= parameter.Name
                .descrpt!= recipe.description