doctype html
html
  head
    title Watchout

    link(href='https://fonts.googleapis.com/css?family=Lato:100,300|Advent+Pro:100,300', rel='stylesheet', type='text/css')

    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')

    link(href='./../css/placeOrderQR.css', rel='stylesheet', type='text/css')
  body
    .wrapper
      .headline
        h1 WATCHOUT

      .content
        .response
          .resdescrpt Free Passion was successfully ordered!

          .checkmark &#x2714;

        .order
          .orderId 00167

          .orderdescrpt You can use the ID above to identify your cocktail.

    script(type='text/javascript').
      //something here
