<!DOCTYPE html>
<html>
   <head>
		<title>Watchout</title>
		<link href='https://fonts.googleapis.com/css?family=Lato:100,300|Advent+Pro:100,300' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<link href='./../css/placeOrderQR.css' rel='stylesheet' type='text/css'>
   </head>
<body>
<div class="wrapper">
    <div class="headline"><h1>WATCHOUT</h1></div>
	<div class="content">
		<div class="response">
			<div class="resdescrpt">Free Passion was successfully ordered!</div>
			<div class="checkmark">&#10004;</div>
		</div>
		<div class="order">
			<div class="orderId">00167</div>
			<div class="orderdescrpt">You can use the ID above to identify your cocktail.</div>
		
		</div>
	</div>
</div>
	
	

    <script type="text/javascript">
        //something here
    </script>
</body></html>